@media (min-width: 720px) {
    .desktop-header { display: block; }
    .desktop-nav { display: block; }
    
    .mobile-header { display: none; }
    .mobile-nav { display: none; }
    
    main {
        min-height: calc(100vh - calc(72px + 36px));
        margin-left: calc(240px + 60px);
        margin-top: calc(72px + 36px);
     }
}
@media (max-width: 719px) {
    .desktop-header { display: none; }
    .desktop-nav { display: none; }
    
    .mobile-header { display: block; }
    .mobile-nav { display: block; }
    
    main {
        min-height: calc(100vh - calc(52px + 24px));
        margin-left: calc(72px + 36px);
        margin-top: calc(52px + 24px);
     }
}

body { 
    margin: 0px;
}

.desktop-header {
    height: 56px;
    width: 100%;
    padding: 8px;
}

.mobile-header {
    height: 40px;
    width: 100%;
    padding: 6px;
}

.desktop-header, .mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6e7dc6;
}

.header-logo { height: 100%; }
.header-logo > img { height: 100%; }

.desktop-nav {
    top: 72px;
    width: 240px;
    height: calc(100vh - 72px);
}

.mobile-nav {
    top: 52px;
    width: 72px;
    height: calc(100vh - 52px);
}

.desktop-nav, .mobile-nav {
    position: fixed;
    background-color: #6e7dc6;
}

