body {
    display: grid;
    grid-template-columns: minmax(auto, 240px) 1fr;
    grid-template-rows: minmax(auto, 96px) 1fr minmax(auto, 96px);
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    grid-template-rows: 1fr;
    padding: 6px;
    background-color: #6e7dc6;
}

#header-logo {
    display: block;
    width: 0;
}

#header-logo, #header-logo > img { height: 100%; }

#header-title {
    font-size: 40px;
    padding: 8px;
    color: #ffffff;
    background-color: #22389e;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 #000000 inset; 
}

#header-title > a {
    color: inherit;
    text-decoration: none;
}

#header-details {
    margin-right: 32px;
}

#header-hello {
    cursor: default;
    text-decoration: underline;
}

#header-login, #header-login:visited, #header-logout {
    padding: 12px;
    margin-left: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    background-color: #22389e;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 #000000 inset; 
}

#header-username {
    font-weight: 700;
}


#desktop-nav { display: block; }
#mobile-nav { display: none; }

nav {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding: 6px;
    background-color: #6e7dc6;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 32px;
    overflow-y: auto;
    box-shadow: 10px 10px 14px -12px #000000 inset, 0 -10px 14px -12px #000000 inset;
}

.icon {
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.category-list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category, #category-add {
    position: relative;
    width: 20%;
    padding: 2.5%;
    text-align: center;
}

.category-cover {
    width: 80%;
    height: 80%;
    margin: calc(10% - 10px);
    padding: 5px;
    border: solid 5px transparent;
    border-radius: 5px;
    transition: transform 0.5s;
}

.category:hover .category-cover,  #category-add:hover .icon {
    transform: scale(1.1);
}

.category-cover.category-selected {
    border-color: #21a527;
    box-shadow: 0 0 5px 0 #21a527 inset;
    transition: border-color 0.2s, box-shadow 0.25s, transform 0.5s;
}

.category .category-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow-wrap: break-word;
}

.category-info .category-full-name { margin: 0 8px; }

.icon-owned { cursor: default; }

#category-add .icon {
    width: 60%;
    height: 60%;
    transition: transform 0.5s;
}

.category-details-self {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.category-details-self-recap {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category-details-self-recap .category-cover {
    width: 60%;
}

.category-details-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    font-size: 20px;
    line-height: 40px;
}

.category-details-commands { text-align: center; }

.music-list, .category-children-header { text-align: center; }

.music-list {
    max-height: 50vh;
    padding: 2em;
    overflow-y: auto;
    box-shadow: 0 0 0.1em 0 #000000 inset;
}

.owned-music {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 40px;
    border-bottom: solid 1px #888888;
}

.music-track:after {
    content: '.';
    margin-right: 1em;
}

.music-tag {
    color: #ffffff;
    background-color: #17a2b8;
    padding: 0.2em;
    border-radius: 0.3em;
}

.music-duration:before { content: '('; }

.music-duration:after {
    content: ')';
    margin-right: 1em;
}

.music-buttons {
    margin-top: 0.5em;
}

#music-add .icon {
    margin-top: 1em;
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.form label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}


.form input, .form select, .music-tag-input {
    font-size: 1em;
    height: 1.5em;
    margin-left: 1em;
    border-radius: 0.2em;
}

.submit {
    margin-top: 1em;
    margin-left: 0.75em;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #cccccc;
    border-radius: 0.2em;
}

#music-edit-tags, #music-new-tags {
    margin: 1em 0.5em;;
    cursor: pointer;
}

#tab {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 5;
    padding: 32px;
    overflow-y: auto;
    background-color: #ffe8bf;
    transform: translateY(100%);
}

#tab.loaded {
    transition: transform 0.5s;
}

#tab.active {
    transform: translateY(0);
}

.tab-music.active {
    background-color: #ffffff; /* TODO */
}

#footer {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    z-index: 10;
    padding: 6px;
    background-color: #a87967;
}

#audio-commands {
    display: flex;
    justify-content: space-around;
    margin: 0 5%;
    width: 90%;
}

.icon-play { display: none; }
.icon-stop { display: none; }

#audio-play-stop:not(.playing) > .icon-play { display: block; }
#audio-play-stop.playing > .icon-stop { display: block; }

#audio-progress-bar {
    width: 90%;
    margin: 8px 5%;
}

#audio-info {
    display: flex;
    width: 100%;
}

#audio-title {
    margin-left: 10%;
    width: 80%;
    text-align: center;
}

#audio-duration {
    width: 5%;
    margin-right: 5%;
    text-align: end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
    font: unset;
}

@media (max-width: 1099px) {
    .category {
        width: 30%;
        padding: calc(calc(1 / 6) * 10%);
    }
}

@media (max-width: 719px) {
    
    #header-title { display: none; }

    #desktop-nav { display: none; }
    #mobile-nav { display: block; }
    
    body {
        grid-template-columns: minmax(auto, 72px) 1fr;
        grid-template-rows: minmax(auto, 72px) 1fr minmax(auto, 80px);
    }
    
    .category {
        width: 40%;
        padding: 5%;
    }
}

@media (max-width: 547px) {
    .category {
        width: 80%; padding: 10%;
    }
}

